## a-1

In [1]:
d1 = [{'n': 'David', 'h':180, 'w':85},
      {'n': 'John', 'h':172, 'w':72},
      {'n': 'Mary', 'h':158, 'w':51},
      {'n': 'Lora', 'h':160, 'w':49},
      {'n': 'Bill', 'h':168, 'w':70},
      {'n': 'Elsa', 'h':154, 'w':55},
      {'n': 'Golden', 'h':176, 'w':69},
      {'n': 'Jason', 'h':182, 'w':77},
      {'n': 'Larry', 'h':160, 'w':64},
      {'n': 'Michelle', 'h':155, 'w':57}
     ]

print(d1)

[{'n': 'David', 'h': 180, 'w': 85}, {'n': 'John', 'h': 172, 'w': 72}, {'n': 'Mary', 'h': 158, 'w': 51}, {'n': 'Lora', 'h': 160, 'w': 49}, {'n': 'Bill', 'h': 168, 'w': 70}, {'n': 'Elsa', 'h': 154, 'w': 55}, {'n': 'Golden', 'h': 176, 'w': 69}, {'n': 'Jason', 'h': 182, 'w': 77}, {'n': 'Larry', 'h': 160, 'w': 64}, {'n': 'Michelle', 'h': 155, 'w': 57}]

In [2]:
i = 4
print(f'{d1[4]["n"]}\'s height: {d1[4]["h"]}cm, weight: {d1[4]["w"]}kg')

Bill's height: 168cm, weight: 70kg

## *a-2

In [3]:
d2 = {'David': {'h':180, 'w':85},
     'John': {'h':172, 'w':72},
     'Mary': {'h':158, 'w':51},
     'Lora': {'h':160, 'w':49},
     'Bill': {'h':168, 'w':70},
     'Elsa': {'h':154, 'w':55},
     'Golden': {'h':176, 'w':69},
     'Jason': {'h':182, 'w':77},
     'Larry': {'h':160, 'w':64},
     'Michelle': {'h':155, 'w':57}}

print(d2)

{'David': {'h': 180, 'w': 85}, 'John': {'h': 172, 'w': 72}, 'Mary': {'h': 158, 'w': 51}, 'Lora': {'h': 160, 'w': 49}, 'Bill': {'h': 168, 'w': 70}, 'Elsa': {'h': 154, 'w': 55}, 'Golden': {'h': 176, 'w': 69}, 'Jason': {'h': 182, 'w': 77}, 'Larry': {'h': 160, 'w': 64}, 'Michelle': {'h': 155, 'w': 57}}

In [4]:
name = 'Bill'
print(f'{name}\'s height: {d2[name]["h"]}cm, weight: {d2[name]["w"]}kg')

Bill's height: 168cm, weight: 70kg

## b

In [5]:
n = ['David', 'John', 'Mary', 'Lora', 'Bill', 'Elsa', 'Golden', 'Jason', 'Larry', 'Michelle']
h = [180, 172, 158, 160, 168, 154, 176, 182, 160, 155]
w = [85, 72, 51, 49, 70, 55, 69, 77, 64, 57]

print(n)
print(h)
print(w)

['David', 'John', 'Mary', 'Lora', 'Bill', 'Elsa', 'Golden', 'Jason', 'Larry', 'Michelle']
[180, 172, 158, 160, 168, 154, 176, 182, 160, 155]
[85, 72, 51, 49, 70, 55, 69, 77, 64, 57]

In [6]:
i = -2
print(f'{n[i]}\'s height: {h[i]}cm, weight: {w[i]}kg')

Larry's height: 160cm, weight: 64kg